@page "/"
@using Karma.Models
@using Karma.Database
@inject IFileContentProvider fileContentProvider
@inject NavigationManager UriHelper

<div class="card-deck">
    @foreach (var karmaEvent in GetItems().Result)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;" @onclick="()=>MoveToIndividualEvent(karmaEvent.Id)">
            <div class="card-header">
                <h4>@karmaEvent.Name</h4>
            </div>
            <h6> @karmaEvent.Description</h6>
        </div>
    }
</div>

@code {
    public async Task<IEnumerable<IGenericKarmaItem>> GetItems()
    {
        return await fileContentProvider.ReadFromFileAsync();
    }

    public void MoveToIndividualEvent(Guid id)
    {
        UriHelper.NavigateTo($"event/{id}");
    }
}
