@page "/"
@using System.Text.RegularExpressions;
@using Karma.Models

<style>
    .demo-mat-card {
        display: flex;
        min-width: 18rem;
        max-width: 30.5%;
        flex-grow: 1;
        flex-basis: 0;
        margin-bottom: 10px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>

<h1 class="mat">Karma</h1>

Ready to aquire karma points by helping out others?

<br />
<br />
<br />
<MatTextField @bind-Value="@FilterValue" OnInput="@(e => FilterValue = e.Value.ToString())" Label="Search Events" Icon="search" IconTrailing="true"></MatTextField>

<div class="card-deck">
    @foreach (var karmaEvent in GetEvents())
    {
        var regex = new Regex($"(.*){FilterValue}(.*)", RegexOptions.Compiled | RegexOptions.IgnoreCase);
        var matches = regex.Matches(karmaEvent.Name + karmaEvent.Description + karmaEvent.Id.ToString());
        @if (matches.Count > 0)
        {
            <MatCard class="demo-mat-card mx-3" @onclick="()=>NavigateToIndividualEvent(karmaEvent.Id)">
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                        @karmaEvent.Name
                    </MatHeadline6>
                </div>
                <MatCardContent>
                    <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        @karmaEvent.Description
                    </MatBody2>
                </MatCardContent>
            </MatCard>
        }
    }
</div>


@code {
    private string FilterValue { get; set; } = "";

    private KarmaContext KarmaContext { get; } = new KarmaContext();

    public IEnumerable<IGenericKarmaItem> GetEvents()
    {
        var result = KarmaContext.Events.ToList();
        result.Sort();
        return result;
    }

    public void NavigateToIndividualEvent(Guid id)
    {
        m_uriHelper.NavigateTo($"event/{id}");
    }
}
