@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@foreach (var karmaEvent in GetItems().Result)
{
    <tr>
        <td>@karmaEvent.Name @karmaEvent.Description</td>
        <td>@karmaEvent.Id</td>
    </tr>
}

@code {
    public async Task<IEnumerable<IGenericKarmaItem>> GetItems()
    {
        var provider = new FileContentProvider();
        return await provider.ReadFromFile();
    }
}
