@page "/event/{Id:guid}"
@using System.Linq
@using Karma.Models
@using Microsoft.EntityFrameworkCore;
@inject AuthenticationStateProvider GetAuthenticationStateAsync

@if (m_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    @if (charityEvent != null)
    {
        <h1>@charityEvent.Name</h1>

        <h2>@charityEvent.Description</h2>

        <h3>@charityEvent.State.ToString()</h3>

        <ol>
            @foreach (var volunteer in GetVolunteers())
            {
                <li>@volunteer</li>
            }
        </ol>
        if (CurrentUserName == charityEvent.ManagedByUser)
        {
            <button class="btn btn-primary" @onclick="NavigateToEditEvent">Update event</button>
        }
    }
    else
    {
        <h1>Sorry,but this event was not found</h1>
    }
}
else
{
    <label for="fname">Please LogIn</label>
}

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private CharityEvent charityEvent;
    KarmaContext KarmaContext = new KarmaContext();
    string CurrentUserName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        charityEvent = KarmaContext.Events.Where(p => p.Id == Id).FirstOrDefault();
        var user = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        CurrentUserName = user.User.Identity.Name;
    }

    public void NavigateToEditEvent()
    {
        m_uriHelper.NavigateTo($"editcharityevent/{Id}");
    }

    public IEnumerable<string> GetVolunteers()
    {
        return KarmaContext.Events.Include(p => p.Volunteers).Where(p => p.Id == Id).Select(p => p.Volunteers).SelectMany(p => p).Select(p => $"{p.Name} {p.Surname}");
    }
}
