@page "/specialequipment"

<h1 class="mat">Special Equipment</h1>

<p>Here you can find the special equipment each volunteer owns.</p>

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Equipment</th>
        </tr>
        @foreach (var pair in GetPairsOfVolunteersAndEquipment())
        {
            <tr>
                <td>@pair.VolunteerName</td>
                <td>@pair.VolunteerSurname</td>
                <td>
                    @if (pair.EquipmentList != null)
                    {

                        @foreach(var equipmentItemName in pair.EquipmentList)
                        {
                            <div>
                                @equipmentItemName
                            </div>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
